#section-presentation{
    height: 895px;
    background: url('../../assets/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: reveal .5s ease-in-out;
}

#dev-data{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    min-width: 800px;
    max-width: 1200px;
    min-height: 300px;
    max-height: 300px;
    box-shadow: 0px 2px 57px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 57px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 57px 5px rgba(0,0,0,0.75);
    animation: introduction 2.5s;
    transition: transform 2s
}

.dev-name{
    color: #fff;
    font-size: 6.3rem;
    border-bottom: 1px solid rgb(82, 81, 81);
}

.dev-description{
    color: #fff;
    font-size: 3rem;
}

.see-more{
    width: 15rem;
    height: 4rem;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.5rem;
    position: static;
    margin-top: 9rem;
    margin-bottom: 1rem;
    background: #35323d;
    border: none;
    transition: .4s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    animation: introduction 2s ease-in-out, pulse 2.5s infinite;
    box-shadow: 0px 1px 42px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 42px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 42px 4px rgba(0,0,0,0.75);
}

.see-more:hover{
    background: #1d1d1d;
    color:#fff;
}

@keyframes introduction {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.04);
    }
    
    100% {
        transform: scale(1);
    }
}

/* Celulares */
@media (max-width: 480px) {
    #dev-data{
        min-width: 320px;
        max-width: 400px;
        min-height: 130px;
        max-height: 200px;
    }
    .dev-name{
        font-size: 2.5rem;
    }
    .dev-description{
        font-size: 1.3rem;
    }
    .see-more{
        min-height: 3rem;
        max-height: 4rem;
        min-width: 15rem;
        max-width: 16rem;
        font-size: 1.4rem;
    }
}

/* Tablets */
@media (min-width: 480px) and (max-width: 768px) {
    #dev-data{
        min-width: 420px;
        max-width: 500px;
        min-height: 150px;
        max-height: 250px;
    }
    .dev-name{
        font-size: 3.3rem;
    }
    .dev-description{
        font-size: 2.0rem;
    }
    .see-more{
        min-height: 3rem;
        max-height: 4rem;
        min-width: 17rem;
        max-width: 18rem;
        font-size: 1.4rem;
    }
}

/* Laptops */
@media (min-width: 768px) and (max-width: 1024px) {
    #dev-data{
        min-width: 700px;
        max-width: 800px;
        min-height: 250px;
        max-height: 350px;
    }
    .dev-name{
        font-size: 5.2rem;
    }
    .dev-description{
        font-size: 3.2rem;
    }
    .see-more{
        min-height: 4rem;
        max-height: 5rem;
        min-width: 18rem;
        max-width: 19rem;
        font-size: 1.6rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    #dev-data{
        min-width: 800px;
        max-width: 950px;
        min-height: 280px;
        max-height: 350px;
    }
    .dev-name{
        font-size: 5.5rem;
    }
    .dev-description{
        font-size: 3.2rem;
    }
    .see-more{
        min-height: 5rem;
        max-height: 6rem;
        min-width: 19rem;
        max-width: 20rem;
        font-size: 1.9rem;
    }
}