.projects{
    height: 500PX;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background: url('../../assets/projects-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects h1{
    color: #fff;
    font-size: 62px;
    margin-bottom: 1rem;
}

.projects-text {
    font-size: 25px;
    margin: 5rem;
    text-align: justify;
    color: #fff;
}

/* Celulares */
@media (max-width: 480px) {
    .projects{
        height: 1100px;
    }

    .projects h1{
        font-size: 54px;
    }

    .projects-container{
        flex-direction: column;
    }

    .projects-text {
        margin: 2rem;
    }
}

/* Tablets */
@media (min-width: 480px) and (max-width: 768px) {
    .projects{
        height: 1300px;
    }

    .projects h1{
        font-size: 58px;
    }

    .projects-container{
        flex-direction: row;
    }
}

/* Laptops */
@media (min-width: 768px) and (max-width: 1024px) {
    .projects{
        height: 1100px;
    }

    .projects h1{
        font-size: 58px;
    }

    .projects-container{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .projects{
        height: 1000px;
    }

    .projects-container{
        height: 1200px;
        flex-direction: row;
    }
}