.main-carousel{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../../../assets/carousel-background.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 55px;
  padding: .2rem;

  -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
  
}

.carousel {
  cursor: grab;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
}

.buttons-carousel {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.btn-carousel {
  border-radius: 5px;
  backdrop-filter: blur(15px);
  height: 70px;
  min-width: 79px;
  transition: transform .3s;
  border-radius: 50%;
  border: none;
  background: url('../../../../assets/seta.png');
  background-position: center;
  background-repeat: no-repeat;

  -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
}

.btn-carousel:hover{
  backdrop-filter: brightness(2);
}

.voltar{
  transform: rotate(180deg);
}

.avancar{
}

.inner {
  display: flex;
}

.item {
  pointer-events: none;
}


/* Celulares */
@media (max-width: 480px) {
  .main-carousel{
   width: 100%;
  }
}

/* Tablets */
@media (min-width: 480px) and (max-width: 768px) {
  .main-carousel{
    width: 90%;
   }
}

/* Laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-carousel{
    width: 80%;
   }
}

/* Desktop */
@media (min-width: 1024px) {
  .main-carousel{
    width: 70%;
   }
}