.about-card{
    display: flex;
    flex-direction: row;
    padding: .7rem;
    margin: .5rem;
    justify-content: center;
    min-width: 55rem;
    max-width: 60rem;
    min-height: 5rem;
    max-height: 10rem;
    background: #ffffff00;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    transition: transform .5s;

    -webkit-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.75);
}

.left-reveal {
    animation: revealLeft .9s ease-in-out;
}

.right-reveal{
    animation: revealRight .9s ease-in-out;
}

@keyframes revealLeft {
    from {
        margin-left: 100%;
    }
    to{
        margin-left: 0%;
    }
}

@keyframes revealRight {
    from {
        margin-Right: 100%;
    }
    to{
        margin-Right: 0%;
    }
}

.about-card:hover{
    transform: scale(1.04);
}

.about-text{
    color: #fff;
    font-size: 19px;
    min-width: 40rem;
    max-width: 40rem;
    min-height: 9rem;
    max-height: 9rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.about-img{
    min-width: 9rem;
    max-width: 9rem;
}

/* Celulares */
@media (max-width: 480px) {
    .about-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 15rem;
        max-width: 24rem;
        min-height: 35rem;
        max-height: 40rem;

    }
    
    .about-text{
        min-width: 15rem;
        max-width: 25rem;
        min-height: 15rem;
        max-height: 20rem;
        font-size: 16px;
    }
    
    .about-img{
        min-width: 15rem;
        max-width:20rem;
        min-height: 15rem;
        max-height: 20rem;
    }
}

/* Tablets */
@media (min-width: 480px) and (max-width: 768px) {
    .about-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 23rem;
        max-width: 27rem;
        min-height: 40rem;
        max-height: 50rem;

    }
    
    .about-text{
        min-width: 18rem;
        max-width: 25rem;
        min-height: 20rem;
        max-height: 24rem;
        font-size: 19px;
    }
    
    .about-img{
        min-width: 15rem;
        max-width:23rem;
        min-height: 20rem;
        max-height: 23rem;
    }
}

/* Laptops */
@media (min-width: 768px) and (max-width: 1024px) {
    .about-card{
        min-width: 40rem;
        max-width: 60rem;
        min-height: 10rem;
        max-height: 15rem;

    }
    
    .about-text{
        min-width: 21rem;
        max-width: 30rem;
        min-height: 10rem;
        max-height: 15rem;
        font-size: 15px;
    }
    
    .about-img{
        min-width: 15rem;
        max-width:15rem;
        min-height: 10rem;
        max-height: 15rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .about-card{
        min-width: 57rem;
        max-width: 70rem;
        min-height: 15rem;
        max-height: 20rem;

    }
    
    .about-text{
        min-width: 32rem;
        max-width: 30rem;
        min-height: 15rem;
        max-height: 20rem;
        font-size: 20px;
    }
    
    .about-img{
        min-width: 15rem;
        max-width: 20rem;
        min-height: 15rem;
        max-height: 20rem;
    }
}