*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
  background: #323232;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
    
}

/* :target {
    scroll-margin-top: .8em;
}


::-webkit-scrollbar-track{
  border-radius: 5px;
  background-color: #464646;
}

::-webkit-scrollbar{
  width: 12px;
  background-color: #464646;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: linear-gradient(45deg, #434343,#1c1c1c, #464646);
} */


@keyframes reveal {
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}

